// src/views/components/links/link.scss
//@import '../../../assets/styles/utils/variables';
@import '/src/assets/styles/utils/variables';

.link {
  align-items: center;
  background-color: #eff2f5;
  border-radius: 6px;
  color: #58667e;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 21px;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;

  svg {
    fill: #58667e;
  }

  &:hover {
    color: #ff5b23;

    svg {
      fill: #ff5b23;
    }
  }
}

.link--red {
  @extend .link;

  color: #e93745;
}

.link--icon-right {
  @extend .link;

  .icon {
    margin-left: 8px;
  }
}

.link--icon-left {
  @extend .link;

  .icon {
    margin-right: 8px;
  }
}

.link--orange {
  @extend .link;
  background-color: transparent;

  // .link__text
  .link__text {
    //transform: translate(0, -1px);
  }

  .big-icon {
    margin-right: 10px;
    fill: #ff5b23;
  }

  color: #ff5b23;

  .icon {
    margin-left: 8px;
    fill: #ff5b23;
  }
}

.link--fill-orange {
  align-items: center;
  background-color: #ff5b23;
  border-radius: 8px;
  border: 2px solid #ff5b23;
  box-shadow: 0px 4px 20px rgba(255, 91, 35, 0.4);
  color: #ffffff;
  display: inline-flex;
  font-size: 18px;
  font-weight: 600;
  height: 46px;
  justify-content: center;
  line-height: 27px;
  min-width: 130px;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background-color: #fff;
    color: #ff5b23;
  }
}

.link--transparent {
  @extend .link;

  color: #ffffff;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
