/* src/assets/styles/pages/_index.scss  */

.page-index {
  position: relative;

  .wrapper-uni-toggler {
    margin-bottom: 26px;
    text-align: center;
  }
}

/*
  Responsive
*/

@media screen and(max-width: 800px) {
}
