/* src/assets/styles/pages/_lottery.scss  */

.lottery {
  padding: 18px 50px 30px;
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;

  @media screen and(max-width: 800px) {
    padding: 22px 20px 30px;
  }

  @media screen and(max-width: 360px) {
    padding: 22px 10px 30px;
  }

  // .lottery__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    @media screen and(max-width: 800px) {
      margin-bottom: 12px;
    }
  }

  // .lottery__title
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #222531;

    @media screen and(max-width: 800px) {
      font-size: 26px;
      line-height: 39px;
    }
  }

  // .lottery__hint
  &__hint {
    position: relative;

    .title {
      width: 200px;
      height: 60px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      background-color: #eff2f5;
      border-radius: 10px;
      cursor: pointer;

      @media screen and(max-width: 800px) {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: initial;
        width: 120px;
        height: 36px;
        border-radius: 100px;
      }
    }

    .hint-content {
      margin: 0;
      list-style-type: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      padding: 23px 30px;
      background-color: #ffffff;
      box-shadow: 0px 4px 20px rgba(88, 102, 126, 0.15);
      position: absolute;
      right: 0;
      top: 74px;
      border-radius: 10px;
      width: 586px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      z-index: 3;

      @media screen and(max-width: 800px) {
        font-size: 11px;
        line-height: 16px;
        top: 42px;
        max-width: 400px;
        padding: 10px 16px;
      }

      @media screen and(max-width: 500px) {
        max-width: 260px;
        font-size: 10px;
        line-height: 14px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -20px;
        height: 20px;
        width: 100%;
        left: 0;
      }
    }

    &:hover {
      .hint-content {
        opacity: 1;
      }
    }
  }

  // .lottery__toggler
  &__toggler {
    margin-bottom: 40px;
    text-align: center;

    @media screen and(max-width: 800px) {
      margin-bottom: 16px;
    }
  }

  // .lottery__select-round
  &__select-round {
    margin-bottom: 42px;
    text-align: center;

    @media screen and(max-width: 800px) {
      margin-bottom: 20px;
    }
  }

  // .lottery__countdown
  &__countdown {
    text-align: center;
    margin-bottom: 42px;

    @media screen and(max-width: 800px) {
      margin-bottom: 20px;
    }
  }

  // .lottery__round
  &__round {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #222531;
    margin-bottom: 8px;

    @media screen and(max-width: 800px) {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 11px;
    }
  }

  // .lottery__pots
  &__pots {
    padding: 0;
    list-style-type: none;
    margin: 0 -15px;
    display: flex;
    justify-content: center;

    @media screen and(max-width: 1300px) {
      margin: 0 -15px 18px;
      flex-wrap: wrap;
    }

    .pot {
      @media screen and(max-width: 1300px) {
        margin: 0 10px 12px;
      }
    }
  }

  .stats-list {
    margin-bottom: 20px;
  }
}

/*
  Responsive
*/

@media screen and(max-width: 800px) {
}
