extends ../templates/_template.pug

block title
  title BNBSMART

block basicSeo
  meta(name='description' content='Description')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  |
  | 
  .wrap-main
    |
    |
    .container
      |
      | 
      .uni-title 
        | Deposit 
        span.bnb BNB 
        | and earn daily ROI
      |
      |
      .row-btns
        a(href="#").link--fill-orange Adress
        a(href="#").link--fill-orange Audit
      |
      |  
      .simple-carts 
        |
        |
        .simple-cart 
          |
          |
          .simple-cart__row
            span.simple-cart__count 21 880 
            span.bnb BNB
          |
          |
          .simple-cart__row
            span.orange Total 
            | Invested 
            span.green ~ $8 095 612
          |
          |
        |
        |
        .simple-cart 
          |
          |
          .simple-cart__row
            span.simple-cart__count 16 636 
            span.bnb BNB
          |
          |
          .simple-cart__row
            span.orange Contract 
            | Balance 
            span.green $ 1 221 520
          |
          |
        |
        |
        .simple-cart  
          |
          |
          .simple-cart__row
            span.simple-cart__count 16 636 
            span.bnb BNB
          |
          |
          .simple-cart__row
            span.orange Active 
            | users 
            span.blue +128 new in 24h
          |
          |
        |
        |
      |
      |
      include ../components/calc-profit/calc-profit.pug
      |
      |
      .panel.dashboard
        .dashboard__title Dashboard
        .dashboard__body
          .dashboard__big-cart 
            .title Withdrawable
            .body 
              span.count 0.038835 
              span.bnb BNB
            .green $ 122
            .text To maintain the stability of the system, we ask participants to reinvest part of the profits, this will help the project to bring profit for all users much longer
            button.big-btn Withdraw
          |
          |
          ul.stats-list 
            |
            | 
            li.stat-cart
              .stat-cart__title Now in deposits
              span.stat-cart__count 5 
              span.bnb BNB
            |
            | 
            li.stat-cart
              .stat-cart__title Total Invested
              span.stat-cart__count 50 
              span.bnb BNB
            |
            | 
            li.stat-cart
              .stat-cart__title Total Earned
              span.stat-cart__count 25.265 
              span.bnb BNB
            |
            | 
            li.stat-cart
              .stat-cart__title Total Withdrawn
              span.stat-cart__count 25.383 
              span.bnb BNB
            |
            |
          |
          |
          //.dashboard__carts-list 
            .dashboard__cart
              .title Now in deposits
              .body 
                span.count 5
                span.bnb BNB
            .dashboard__cart
              .title Total Invested
              .body 
                span.count 50
                span.bnb BNB
            .dashboard__cart
              .title Total Earned
              .body 
                span.count 25.265
                span.bnb BNB
            .dashboard__cart
              .title Total Withdrawn
              .body 
                span.count 25.383
                span.bnb BNB
      |
      |
      .wrapper-uni-toggler
        |
        |
        .uni-toggler.uni-toggler--2
          |
          |
          .uni-toggler__item.active ACTIVE DEPOSITS
          |
          |
          .uni-toggler__item ENDED DEPOSITS 
          |
          |
          .uni-toggler__text-filler.dn Oops! You haven't made any deposits!
          |
          |
        |
        |
      |
      |
      .deposits-list 
        |
        |
        +deposit-cart() 
        +deposit-cart() 
        +deposit-cart() 
        +deposit-cart-green()
        +deposit-cart() 
        +deposit-cart() 
        +deposit-cart() 
        +deposit-cart() 
        +deposit-cart-green()
        +deposit-cart() 
        |
        |
      |
      |
    |
    | 
    //ul.notific
      |
      |
      li.notific__item
        .cart-info.error
          button.cart-info__close 
            img(src="assets/svg/icon-close-2.svg", alt="" loading="lazy")
          .cart-info__wrap-icon 
            img(src="assets/svg/icon-ok.svg", alt="" loading="lazy").cart-info__icon.ok
            img(src="assets/svg/icon-error.svg", alt="" loading="lazy").cart-info__icon.err
          .cart-info__inner 
            .cart-info__title Error
            .cart-info__text 
              | Minimum withdraw is 0.05 BNB
      |
      | 
      li.notific__item
        .cart-info 
          button.cart-info__close 
            img(src="assets/svg/icon-close-2.svg", alt="" loading="lazy")
          .cart-info__wrap-icon 
            img(src="assets/svg/icon-ok.svg", alt="" loading="lazy").cart-info__icon
          .cart-info__inner 
            .cart-info__title
              span.text Deposit 0.86 
              span.bnb BNB
            .cart-info__text 
              a(href="#") View on bscscan
    |
    | 
  |
  |
  //-<svg width="12" height="16">
  //-  <use xlink:href="./assets/svg/svg_sprite.svg#geo"></use>
  //-</svg>
  |
  |