extends ../templates/_launchtime.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  |
  | 
  .wrap-main
    |
    |
    .container
      | 
      | 
      .launchtime__title
        span.green Start 
        span.black in
      |
      |
      .launchtime__counter 
        |
        |
        .countdown(data-countdown="")
          // example data-countdown="04/20/2021 06:00:07 PM"
          |
          |
          #hours.countdown__hours
            .countdown__number
            .countdown__number
          |
          |
          .countdown__dots
            .dot
            .dot
          |
          |
          #minutes.countdown__minutes
            .countdown__number
            .countdown__number
          |
          |
          .countdown__dots
            .dot
            .dot
          |
          |
          #seconds.countdown__seconds 
            .countdown__number
            .countdown__number
          |
          |
      |
      |
      .launchtime__info 
        |
        |
        .block-info
          |
          |
          img(src="assets/svg/icon_close.svg", alt="" loading="lazy").block-info__img 
          |
          |
          .block-info__title Binance Smart Chain Error
          |
          |
          .block-info__text 
            span You must select 
            br
            span Binance Smart Chain Mainnet in MetaMask
            
          |
          |
          .block-info__btns 
            a(href="#").link
              span How to connect?
            a(href="#").link 
              span Support
          |
          |
        |
        |
      |
      |  
    |
    | 
  |
  |
  //-<svg width="12" height="16">
  //-  <use xlink:href="./assets/svg/svg_sprite.svg#geo"></use>
  //-</svg>
  |
  |