extends ../templates/_lottery.pug

block title
  title BNBSMART

block basicSeo
  meta(name='description' content='Description')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  |
  | 
  .wrap-main
    |
    |
    .container
      | 
      | 
      .lottery
        |
        |
        .lottery__header 
          |
          |
          .lottery__title Lottery
          |
          |
          .lottery__hint 
            |
            |
            .title How it work?
            |
            |
            ul.hint-content 
              li 2% of all deposits go to the total lottery pot  
              li After each deposit made you automatically become a participant   
              li 
                | in the lottery and receive tickets 
                span.gray 0.05 BNB = 
                span.orange 1 ticket
              li Maximum 100 tickets for 1 deposit
              li Every 24 hours the contract randomly selects 5 lucky tickets
              li The total pot is divided between 5 participants who have these tickets
            |
            |
          |
          |
        |
        |
        .lottery__toggler 
          |
          |
          .uni-toggler.uni-toggler--1
            |
            |
            .uni-toggler__item.active PAST DRAWS
            |
            |
            .uni-toggler__item NEXT DRAW
            |
            |
            .uni-toggler__text-filler.dn Alternate-text
            |
            |
          |
          |
        |
        | 
        .lottery__round 
          span Round 
          span.orange 25
        |
        |
        .lottery__select-round
          .select
            .select__title Or select another round
            .select__number 25
        | 
        |
        ul.lottery__pots
          |
          |
          li.pot
            |
            |
            .pot__title Total Pot
            |
            |
            .pot__cart 
              .pot__inner
                span.number 12.340 
                span.bnb BNB
          |
          |
          li.pot
            |
            |
            .pot__title Total Tickets
            |
            |
            .pot__cart.bg-orange
              .number.white 9324 
          |
          | 
          li.pot
            |
            |
            .pot__title Round Participants
            |
            |
            .pot__cart.bg-lightblue
              .number.blue 1 953 
          |
          | 
        |
        |
        .swiper-container.swiper-alt-carts 
          |
          |
          .swiper-wrapper 
            |
            |
            .swiper-slide
              .alt-cart
                |
                |
                .alt-cart__green 5245
                |
                |
                .alt-cart__range 257 - 289
                |
                |
                .alt-cart__percent 15.64%
                |
                |
                .alt-cart__count 
                  |
                  |
                  span 2.468 
                  span.bnb BNB
                |
                |
            |
            |
            .swiper-slide
              .alt-cart
                |
                |
                .alt-cart__green 21
                |
                |
                .alt-cart__range 18 - 152
                |
                |
                .alt-cart__percent 15.64%
                |
                |
                .alt-cart__count 
                  span 2.468 
                  span.bnb BNB
                |
                |
            |
            |
            .swiper-slide
              .alt-cart
                |
                |
                .alt-cart__green 1770
                |
                |
                .alt-cart__range 1263 - 1890
                |
                |
                .alt-cart__percent 15.64%
                |
                |
                .alt-cart__count 
                  span 2.468 
                  span.bnb BNB
                |
                |
            |
            |
            .swiper-slide
              .alt-cart
                |
                |
                .alt-cart__green 5
                |
                |
                .alt-cart__range 1 - 64
                |
                |
                .alt-cart__percent 15.64%
                |
                |
                .alt-cart__count 
                  span 2.468 
                  span.bnb BNB
                |
                |
            |
            |
            .swiper-slide
              .alt-cart
                |
                |
                .alt-cart__green 3223
                |
                |
                .alt-cart__range 3198 - 3356
                |
                |
                .alt-cart__percent 15.64%
                |
                |
                .alt-cart__count 
                  span 2.468 
                  span.bnb BNB
                |
                |
            |
            |
          |
          |
          .swiper-pagination
          |
          |
        | 
        |  
      |
      |  
    |
    | 
  |
  |  