extends ../templates/_template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  |
  | 
  .wrap-main
    |
    |
    .container
      |
      |
      //- Desktop page
      h1 Все страницы
      |
      | 
      ul
        |
        | 
        li 
          a(href="./index.html") index
        |
        | 
        li 
          a(href="./lottery.html") lottery
        |
        | 
        li 
          a(href="./launchtime.html") launchtime
        |
        | 
        li 
          a(href="./referral.html") referral 
        |
        |
      |
      |
    |
    | 
  |
  | 