extends ../templates/_referral.pug

block title
  title BNBSMART

block basicSeo
  meta(name='description' content='Description')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  |
  | 
  .wrap-main
    |
    |
    .container
      | 
      | 
      include ../components/referral-panel/referral-panel.pug
      |
      |  
    |
    | 
  |
  |  