|
|    
.panel.referral-panel
  |
  |
  .referral-panel__title Referral panel
  |
  |
  .referral-panel__subtitle Your Referral Link
  |
  |
  .referral-panel__copy 
    |
    |
    .text.t-d-u#copy-element https://bnbsmart.finance?ref=0xE41533B0856e68148C09270325Ecb397BA752709
    |
    |
    button.wrap-icon#btn-copy
      <svg width="20" height="20" class="icon">
        <use xlink:href="./assets/svg/svg_sprite.svg#icon-copy"></use>
      </svg>
    |
    |
  |
  |
  ul.lvl-toggler
    |
    |
    li.lvl-toggler__item
      button.lvl-toggler__lvl.active 1 LVL
    |
    |
    li.lvl-toggler__item
      button.lvl-toggler__lvl 2 LVL
    |
    |
    li.lvl-toggler__item
      button.lvl-toggler__lvl 3 LVL
    |
    |
  |
  |
  ul.lvls
    |
    |
    li.lvls__item.active
      .lvls__lvl 
        span.for-decktop 1 level
        span.for-mobile 1 lvl
      .lvls__percent.green 5%
      .lvls__circle 
        .lvls__count 189
    |
    |
    li.lvls__item 
      .lvls__lvl 
        span.for-decktop 2 level
        span.for-mobile 2 lvl
      .lvls__percent.green 2.5%
      .lvls__circle 
        .lvls__count 11
    |
    |
    li.lvls__item 
      .lvls__lvl 
        span.for-decktop 3 level
        span.for-mobile 3 lvl
      .lvls__percent.green 0.5%
      .lvls__circle 
        .lvls__count 2
    |
    |
  |
  |
  ul.stats-list 
    |
    |
    li.stat-cart
      .stat-cart__title Number of referrals
      .stat-cart__count.blue 51
    |
    |  
    li.stat-cart
      .stat-cart__title Earned from referrals
      span.stat-cart__count 12.74 
      span.bnb BNB
    |
    |  
  |
  |
|
|  