.calc-profit {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 0 50px;
  padding: 25px 50px 50px;
  position: relative;

  @media screen and(max-width: 800px) {
    padding: 22px 20px 30px;
  }

  @media screen and(max-width: 360px) {
    padding: 22px 10px 30px;
  }

  // .calc-profit__title
  &__title {
    color: #222531;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 5px;

    @media screen and(max-width: 800px) {
      font-size: 26px;
      line-height: 39px;
      margin-bottom: 16px;
    }
  }

  // .calc-profit__subtitle
  &__subtitle {
    color: #222531;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 8px;

    @media screen and(max-width: 800px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  // .calc-profit__wrap-amount-and-capital
  &__wrap-amount-and-capital {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 575px;

    @media screen and(max-width: 800px) {
      flex-direction: column;
      width: 100%;
    }
  }

  // .calc-profit__wrap-input
  &__wrap-input {
    align-items: center;
    background-color: #eff2f5;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 340px;
    padding: 8px;
    width: 100%;

    @media screen and(max-width: 800px) {
      margin-bottom: 18px;
    }

    .title {
      color: #a6b0c3;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
    }

    input {
      background-color: transparent;
      border: none;
      color: #222531;
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      text-align: center;

      @media screen and(max-width: 800px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  // .calc-profit__capitalization
  &__capitalization {
    .tooltip {
      width: 370px;

      @media screen and(max-width: 800px) {
        display: none;
      }
    }

    .tooltip-trigger {
      @media screen and(max-width: 800px) {
        &::before {
          display: none;
        }
      }
    }
  }

  // .calc-profit__circle
  &__circle {
    align-items: center;
    border-radius: 100%;
    border: 8px solid #ff5b23;
    bottom: 57px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 263px;
    justify-content: space-between;
    padding: 40px;
    position: absolute;
    right: 50px;
    width: 263px;

    @media screen and(max-width: 1350px) {
      bottom: auto;
      margin-bottom: 20px;
      position: relative;
      right: auto;
    }

    @media screen and(max-width: 800px) {
      height: 180px;
      justify-content: center;
      margin: 60px auto 10px;
      padding: 30px 5px 5px;
      width: 180px;
    }
  }

  // .calc-profit__circle-title
  &__circle-title {
    color: #222531;
    font-size: 18px;
    font-weight: normal;
    line-height: 120%;
    text-align: center;
    width: 105px;

    @media screen and(max-width: 800px) {
      font-size: 16px;
      left: 50%;
      line-height: 24px;
      position: absolute;
      top: -40px;
      transform: translate(-50%, 0);
      width: 280px;
    }
  }

  // .calc-profit__circle-text
  &__circle-text {
    color: #222531;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.04em;
    line-height: 60px;

    @media screen and(max-width: 800px) {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 10px;
    }

    .bnb {
      font-size: 20px;
      line-height: 30px;

      @media screen and(max-width: 800px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  // .calc-profit__circle-withdraw
  &__circle-withdraw {
    color: #58667e;
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
    text-align: center;

    @media screen and(max-width: 800px) {
      font-size: 14px;
      line-height: 130%;
    }

    .title {
      color: #a6b0c3;
      font-weight: 600;
    }
    /* .text {
    } */
  }

  // .calc-profit__some-info
  &__some-info {
    left: 675px;
    position: absolute;
    transform: translate(0, -90px);

    @media screen and(max-width: 1350px) {
      bottom: 160px;
      left: 360px;
      transform: translate(0, 0);
    }

    @media screen and(max-width: 800px) {
      bottom: auto;
      left: auto;
      margin-bottom: 30px;
      position: relative;
      text-align: center;
    }
  }

  .daily-profit {
    color: #222531;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 36px;

    @media screen and(max-width: 800px) {
      font-size: 18px;
      line-height: 27px;

      .orange {
        font-size: 28px;
        line-height: 42px;
      }
    }
  }

  .increase {
    background-color: #eff2f5;
    border-radius: 6px;
    color: #a6b0c3;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 8px;
    padding: 4px 12px;

    @media screen and(max-width: 800px) {
      margin-bottom: 16px;
    }
  }

  .total-profit {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 6px;

    @media screen and(max-width: 800px) {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 14px;

      .green {
        font-size: 22px;
        line-height: 33px;
      }
    }
  }

  .bonus-total-amount {
    color: #222531;
    font-size: 16px;
    font-weight: normal;
    line-height: 130%;
  }

  // .calc-profit__wrap-btn
  &__wrap-btn {
    width: 575px;

    @media screen and(max-width: 800px) {
      width: 100%;
    }
  }

  // .calc-profit__btn
  &__btn {
    align-items: center;
    background-color: #3861fb;
    border-radius: 10px;
    border: 2px solid #3861fb;
    box-shadow: 0px 4px 20px rgba(56, 97, 251, 0.4);
    color: #ffffff;
    display: inline-flex;
    font-size: 26px;
    font-weight: 600;
    height: 80px;
    justify-content: center;
    line-height: 39px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    width: 100%;

    @media screen and(max-width: 800px) {
      font-size: 20px;
      height: 66px;
      line-height: 30px;
    }

    &:hover {
      background-color: #ffffff;
      color: #3861fb;
    }
  }
}

.periods {
  align-items: center;
  background-color: #eff2f5;
  border-radius: 10px;
  display: inline-flex;
  margin-bottom: 20px;

  @media screen and(max-width: 1050px) {
    margin: 0 -8px 20px;
    max-width: 100%;
    width: 100%;
  }

  @media screen and(max-width: 800px) {
    margin: 0 0px 20px;
  }

  // .periods__item
  &__item {
    background-color: #eff2f5;
    border-radius: 10px;
    color: #58667e;
    font-size: 16px;
    font-weight: 500;
    height: 36px;
    line-height: 24px;
    margin: 5px;
    padding: 5px;
    position: relative;
    text-align: center;
    transition: all 0.3s;
    width: 170px;

    @media screen and(max-width: 1050px) {
      border-radius: 8px;
      font-size: 12px;
      height: 28px;
      line-height: 18px;
      margin: 4px;
      width: calc(20% - 4px);
    }

    &.active {
      background-color: #ffffff;
    }

    &.blue {
      color: #3861fb;
    }

    .for-decktop {
      display: inline;
      white-space: nowrap;

      @media screen and(max-width: 800px) {
        display: none;
      }
    }

    .for-mobile {
      display: none;
      white-space: nowrap;

      @media screen and(max-width: 800px) {
        display: inline;
      }
    }

    .line-through {
      opacity: 0.75;

      @media screen and(max-width: 800px) {
        display: none;
      }
    }
  }

  // .periods__info-icon
  &__info-icon {
    align-items: center;
    display: inline-flex;
    height: 12px;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 12px;

    @media screen and(max-width: 800px) {
      display: none;
    }
  }

  // .periods__info-tooltip
  &__info-tooltip {
    width: 320px;

    @media screen and(max-width: 1050px) {
      transform: translate(-95%, 0);
    }
  }
}
