//- src/views/components/header/header.pug
|
|
header#header.header
  |
  |
  .header__aside.left
    |
    |
    a(href="./" title="Главная").logo
      |
      |
      img(src="assets/svg/logo.svg", alt="" loading="lazy").logo__img
      |
      |
      .logo__text 
        span BNB
        span.orange SMART
      |
      |
    |
    |
  |
  |
  .container.header__center 
    |
    |
    .header__left
      |
      |
      a(href="#").link 
        span Support
      |
      |
      a(href="#").link 
        span Help
      |
      |
      .link--icon-right.presentation.submenu-parent(data-parent1)
        span Presentation
        <svg width="8" height="8" class="icon">
          <use xlink:href="./assets/svg/svg_sprite.svg#icon-triangle"></use>
        </svg> 
        ul.submenu(data-childred1)
          |
          |
          li.submenu__item
            a(href="#").submenu__link Presentation EN
          |
          |
          li.submenu__item
            a(href="#").submenu__link Presentation ES
          |
          |
          li.submenu__item
            a(href="#").submenu__link Presentation RU
          |
          |
          li.submenu__item
            a(href="#").submenu__link Presentation HI
          |
          |
      |
      |
      .exchange-rate
        span.orange 1 BNB = 
        span $250.51
      |
      |
    |
    |
    .header__right
      .link--orange.language.submenu-parent(data-parent1)
        <svg width="20" height="20" class="big-icon">
          <use xlink:href="./assets/svg/svg_sprite.svg#icon-global"></use>
        </svg> 
        span.link__text EN
        <svg width="8" height="8" class="icon">
          <use xlink:href="./assets/svg/svg_sprite.svg#icon-triangle"></use>
        </svg> 
        ul.submenu(data-childred1)
          |
          |
          li.submenu__item
            a(href="#").submenu__link EN
          |
          |
          li.submenu__item
            a(href="#").submenu__link ES
          |
          |
          li.submenu__item
            a(href="#").submenu__link RU
          |
          |
          li.submenu__item
            a(href="#").submenu__link HI
          |
          |
      .link--orange.social.submenu-parent(data-parent1)
        <svg width="20" height="20" class="big-icon">
          <use xlink:href="./assets/svg/svg_sprite.svg#icon-tg"></use>
        </svg> 
        span.link__text Telegram
        <svg width="8" height="8" class="icon">
          <use xlink:href="./assets/svg/svg_sprite.svg#icon-triangle"></use>
        </svg> 
        ul.submenu(data-childred1) 
          |
          |
          li.submenu__item
            a(href="#").submenu__link Telegram
          |
          |
          li.submenu__item
            a(href="#").submenu__link Facebook
          |
          | 
    |
    |
  |
  |
  .header__aside.right
    .avatar 
      //.avatar__number 0xE415...2709
      a(href="#").avatar__btn
        .bg
        span.inner Connect
        
      .avatar__wrap-img 
        <svg width="26" height="26" class="avatar__icon">
          <use xlink:href="./assets/svg/svg_sprite.svg#avatar"></use>
        </svg> 
        // img(src="https://im0-tub-ru.yandex.net/i?id=54e6f5bbbf47e2b9bfc9d5da15ad0475&n=13", alt="" loading="lazy").avatar__img
  |
  | 
|
|
nav.navigation 
  |
  |
  .container 
    include ./headerMenu.pug
  |
  |
|
|
