//- src/views/components/header/header.pug
|
|
header#header.header
  |
  |
  .header__left
    a(href="./" title="Главная").logo
      img(src="assets/svg/logo.svg", alt="" loading="lazy")
  |
  |
  .header__center 
    .header__left
      a(href="#") Support
      a(href="#") Help
      .presentation 
        a(href="#") 111 
        a(href="#") 222 
        a(href="#") 333 
      .exchange-rate
    .header__right
      .language 
      .social
  |
  |
  .header__right
    .avatar 
      .avatar__number
      .avatar__btn
      .avatar__wrap-img 
        svg
        //img(src="assets/images/avatar", alt="" loading="lazy").avatar__img
  |
  | 
|
|
nav.navigation 
  |
  |
  .container 
    include ./headerMenu.pug
  |
  |
|
|
