|
| 
ul.menu
  |
  |
  li.menu__item
    |
    |
    a.menu__link(href="/") 
      | Main
      span.border
    |
    |
  |
  |
  li.menu__item
    |
    |
    a.menu__link(href="/") 
      | Referral Panel
      span.border
    |
    | 
  |
  |
  li.menu__item
    |
    |
    a.menu__link(href="/") 
      | Lottery
      span.border
    |
    | 
  |
  |
|
|