|
| 
ul.list.menu
  |
  |
  li.menu__item
    |
    |
    a.menu__link(href="./index.html")
      | Main
      span.border
    |
    |
  |
  |
  li.menu__item
    |
    |
    a.menu__link(href="./referral.html").active
      | Referral Panel
      span.border
    |
    | 
  | 
  |
  li.menu__item
    |
    |
    a.menu__link(href="./lottery.html") 
      | Lottery
      span.border
    |
    | 
  |
  |
|
|