//- src/views/components/footer/footer.pug
|
|
footer#footer.footer
  |
  |
  .container 
    |
    |
    .copyright
      .text Copyright © 2021 BNB Smart
      .text All rights reserved
    |
    |
    .audited
      .text 
        span Audited by 
        span.orange HazeCrypto
      .text 
        a(href="#" download) Download Audit PDF Report
    |
    |
    .powered
      .text Powered by
      .text
        a(href="#") Binance Smart Chain 
    |
    |
  |
  |
|
|