/* src/assets/styles/common/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --swiper-theme-color: #ff5b23;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f6f9;
  color: #222531;
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  position: relative;

  @media screen and(max-width: 800px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100vh;

  .header {
    width: 100%;
  }
  .wrap-main {
    min-height: calc(100vh - 400px);
    padding: 62px 0 64px;
    width: 100%;

    @media screen and(max-width: 800px) {
      padding: 42px 0 42px;
    }
  }
  .footer {
    margin-top: auto;
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
  width: 100%;

  @media screen and(max-width: 1350px) {
    max-width: calc(100% - 40px);
  }

  @media screen and(max-width: 640px) {
    max-width: calc(100% - 40px);
  }

  @media screen and(max-width: 360px) {
    max-width: calc(100% - 30px);
  }
}

/* a {
  text-decoration: none;
} */

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

svg {
  transition: stroke 0.3s, fill 0.3s;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.blue {
  color: #3861fb;
}

.orange {
  color: #ff5b23;
}

.green {
  color: #16c784;
}

.black {
  color: #222531;
}

.gray {
  color: #a6b0c3;
}

.dark-grey {
  color: #58667e;
}

.bnb {
  color: #ff5b23;
  text-transform: uppercase;
}

.line-through {
  text-decoration-line: line-through;
}

.t-d-u {
  text-decoration: underline;
}

.uni-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  margin: 15px 0 28px;
  text-align: center;

  @media screen and(max-width: 800px) {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 20px;
  }
}

.row-btns {
  margin: 0 0 50px;
  text-align: center;

  @media screen and(max-width: 800px) {
    margin: 0 -10px 20px;
  }

  .link--fill-orange {
    margin: 0 10px 1px;

    @media screen and(max-width: 800px) {
      margin: 0 10px 10px;
      width: calc(50% - 30px);
    }
  }
}

.simple-carts {
  margin: 0 0 50px;
  text-align: center;

  @media screen and(max-width: 800px) {
    margin: 0 0 40px;
  }

  .simple-cart {
    margin: 0 25px 25px;

    @media screen and(max-width: 800px) {
      margin: 0 auto 14px;
    }
  }
}

.panel {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px 50px 30px;

  @media screen and(max-width: 800px) {
    padding: 22px 20px 30px;
  }

  @media screen and(max-width: 360px) {
    padding: 22px 10px 30px;
  }
}

.simple-cart {
  background-color: #ffffff;
  border-radius: 20px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 30px 40px;
  position: relative;
  text-align: left;
  width: 350px;
  z-index: 3;

  @media screen and(max-width: 800px) {
    display: block;
    font-size: 16px;
    line-height: 18px;
    max-width: 100%;
    padding: 15px 30px;
    text-align: center;
    width: 260px;

    span {
      white-space: nowrap;
    }
  }

  // .simple-cart__row
  &__row {
    margin-bottom: 6px;

    @media screen and(max-width: 800px) {
      margin-bottom: 0;
    }
  }

  &::before {
    background-color: inherit;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::after {
    background: #e3e6ea;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%;
    z-index: -2;
  }

  .simple-cart__row:last-of-type {
    margin-bottom: 0;
  }

  // .simple-cart__count
  &__count {
    color: #222531;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.04em;
    line-height: 42px;

    @media screen and(max-width: 800px) {
      font-size: 30px;
      line-height: 45px;
    }
  }

  .bnb {
    font-size: 22px;

    @media screen and(max-width: 800px) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.dashboard {
  margin: 0 0 50px;

  // .dashboard__title
  &__title {
    color: #222531;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 5px;

    @media screen and(max-width: 800px) {
      font-size: 26px;
      line-height: 39px;
      margin-bottom: 16px;
    }
  }

  // .dashboard__body
  &__body {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: 1000px) {
      flex-direction: column;
    }
  }

  // .dashboard__big-cart
  &__big-cart {
    // width: 575px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(88, 102, 126, 0.15);
    flex-shrink: 0;
    padding: 22px 20px 20px;
    width: calc(100% - (278px * 2 + 20px * 2) - 50px);

    @media screen and(max-width: 1300px) {
      width: calc(100% - (230px * 2 + 20px * 2) - 0px);
    }

    @media screen and(max-width: 1000px) {
      margin-bottom: 40px;
      width: auto;
    }

    @media screen and(max-width: 800px) {
      padding: 18px 20px 15px;
      text-align: center;

      .green {
        transform: translate(0, -8px);
      }
    }

    .title {
      color: #222531;
      font-size: 20px;
      font-weight: normal;
      line-height: 30px;

      @media screen and(max-width: 800px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .body {
    }

    .count {
      color: #222531;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0.04em;
      line-height: 40px;

      @media screen and(max-width: 800px) {
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 45px;
      }
    }

    .bnb {
      font-size: 26px;
      font-weight: bold;
      line-height: 39px;

      @media screen and(max-width: 800px) {
        font-size: 18px;
        line-height: 27px;
      }
    }

    .text {
      color: #a6b0c3;
      font-size: 14px;
      font-weight: normal;
      line-height: 130%;
      margin-bottom: 18px;

      @media screen and(max-width: 800px) {
        font-size: 12px;
        line-height: 130%;
        margin-bottom: 24px;
      }
    }

    .big-btn {
      align-items: center;
      background-color: #eff2f5;
      border-radius: 10px;
      color: #222531;
      cursor: pointer;
      display: flex;
      font-size: 26px;
      font-weight: 600;
      height: 80px;
      justify-content: center;
      line-height: 39px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      width: 100%;

      @media screen and(max-width: 800px) {
        font-size: 20px;
        height: 66px;
        line-height: 30px;
      }

      &:hover {
        color: #ff5b23;
      }
    }
  }

  // .dashboard__carts-list
  /* &__carts-list {
  } */

  // .dashboard__cart
  /* &__cart {
    .title {
    }

    .body {
    }

    .count {
    }

    .bnb {
    }
  } */

  .stats-list {
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 -10px;
    width: calc(278px * 2 + 20px * 2);

    @media screen and(max-width: 1300px) {
      width: calc(230px * 2 + 20px * 2);
    }

    @media screen and(max-width: 800px) {
      background-color: transparent;
      border: none;
    }

    .stat-cart:nth-of-type(3),
    .stat-cart:nth-of-type(4) {
      margin: 0 10px 0;

      @media screen and(max-width: 800px) {
        margin: 0 5px 0;
      }
    }
  }

  .stat-cart {
    margin: 0 10px 20px;
    padding: 25px 30px;
    width: 278px;

    @media screen and(max-width: 1300px) {
      width: 230px;
    }

    @media screen and(max-width: 800px) {
      background: #ffffff;
      border-radius: 10px;
      border: 2px solid #eef1f4;
      margin: 0 5px 10px;
      padding: 9px 16px;
      text-align: left;
      width: 160px;
    }

    @media screen and(max-width: 480px) {
      //width: 142px;
      width: calc(100% / 2 - 10px);
    }

    .stat-cart__title {
      font-size: 18px;
      line-height: 27px;

      @media screen and(max-width: 800px) {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .stat-cart__count {
      font-size: 30px;
      font-weight: 600;
      line-height: 30px;

      @media screen and(max-width: 800px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .bnb {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;

      @media screen and(max-width: 800px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.deposits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 50px;

  @media screen and(max-width: 900px) {
    margin: 0 -10px 30px;
  }

  @media screen and(max-width: 800px) {
    justify-content: center;
  }

  .deposit-cart {
    margin: 0 15px 30px;
    width: calc(100% / 12 * 4 - 30px);

    @media screen and(max-width: 1200px) {
      margin: 0 15px 30px;
      width: calc(100% / 12 * 6 - 30px);
    }

    @media screen and(max-width: 900px) {
      margin: 0 10px 20px;
      width: calc(100% / 12 * 6 - 20px);
    }

    @media screen and(max-width: 800px) {
      margin: 0 10px 12px;
      max-width: 360px;
      width: 100%;
    }
  }
}

.notific {
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  max-height: 100vh;
  overflow: hidden hidden;
  padding: 20px;
  position: fixed;
  transition: all 0.3s;
  z-index: 3;

  @media screen and(max-width: 800px) {
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(245, 246, 249, 0.75);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 27px;
    position: fixed;
    width: 100%;
  }

  // .notific__item
  &__item {
    animation: fade-in 0.3s linear 0s 1 forwards;
    margin: 20px 0 0;
    transition: all 0.3s;
  }

  .notific__item:first-of-type {
    margin: 0;
  }

  .remove-item {
    animation: remove-item 0.5s linear 0s 1 forwards;
  }
}

.cart-info {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(88, 102, 126, 0.15);
  color: #222531;
  display: flex;
  margin: 0;
  min-height: 100px;
  padding: 24px 40px 27px 20px;
  position: relative;
  width: 320px;

  // .cart-info__wrap-icon
  &__wrap-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  // .cart-info__icon
  &__icon {
    &.ok {
      display: block;
    }

    &.err {
      display: none;
    }
  }

  // .cart-info__inner
  &__inner {
  }

  // .cart-info__title
  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  // .cart-info__text
  &__text {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
  }

  // .cart-info__close
  &__close {
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &.error {
    .cart-info__title {
      color: #ff5b5b;
    }

    .cart-info__icon.ok {
      display: none;
    }

    .cart-info__icon.err {
      display: block;
    }
  }

  a {
    color: #3861fb;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      color: #ff5b23;
    }
  }

  &::before {
    background-color: #eff2f5;
    border-radius: 20px;
    bottom: 7px;
    content: '';
    height: 4px;
    left: 20px;
    position: absolute;
    width: 204px;
  }
}

.uni-toggler {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  padding: 0px 0px;
  position: relative;
  z-index: 2;

  // .uni-toggler__item
  &__item {
    align-items: center;
    border-radius: 100px;
    color: #58667e;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    line-height: 24px;
    margin: 5px 5px;
    text-decoration: none;
    transition: all 0.3s;
    width: 180px;
  }

  // .uni-toggler__text-filler
  &__text-filler {
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    border: 4px solid #eef1f4;
    color: #222531;
    display: inline-flex;
    font-size: 18px;
    font-weight: normal;
    height: 60px;
    justify-content: center;
    line-height: 27px;
    width: 394px;

    &.dn {
      display: none;
    }
  }
}

.uni-toggler--1 {
  background: #eff2f5;

  @media screen and(max-width: 800px) {
    border-radius: 10px;
  }

  .uni-toggler__item {
    background-color: transparent;
    color: #58667e;

    @media screen and(max-width: 800px) {
      border-radius: 8px;
      font-size: 12px;
      height: 28px;
      line-height: 18px;
      width: 93px;
    }

    &.active {
      background-color: #ffffff;
    }
  }
}

.uni-toggler--2 {
  background: #ffffff;
  max-width: 100%;

  .uni-toggler__item {
    height: 50px;
    width: 197px;

    @media screen and(max-width: 800px) {
      font-size: 12px;
      height: 35px;
      line-height: 18px;
      width: 142px;
    }

    &.active {
      background: #ff5b23;
      color: #ffffff;
    }
  }

  &::before {
    background-color: #fff;
    border-radius: 100px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::after {
    background: #e3e7ea;
    border-radius: 100px;
    content: '';
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;

    @media screen and(max-width: 800px) {
      height: 100%;
      top: 2px;
    }
  }
}

.alt-carts {
  display: flex;
  justify-content: center;
}

.swiper-alt-carts {
  //width: 880px;
  max-width: 100%;
  pointer-events: none;
  width: calc(160px * 5 + 20px * 4);

  @media screen and(max-width: 1050px) {
    pointer-events: auto;
    width: calc(160px * 4 + 20px * 3);
  }

  @media screen and(max-width: 860px) {
    width: calc(160px * 3 + 20px * 2);
  }

  @media screen and(max-width: 640px) {
    width: calc(160px * 2 + 20px * 1);
  }

  .swiper-slide {
    .alt-cart {
      margin-left: auto;
      margin-right: auto;

      @media screen and(max-width: 1050px) {
        margin-bottom: 27px;
      }
    }
  }

  .swiper-pagination {
    bottom: 0px;
    display: none;

    @media screen and(max-width: 1050px) {
      display: block;
    }
  }
}

.alt-cart {
  border-radius: 20px;
  border: 3px solid #eef1f4;
  color: #000000;
  margin: 0 10px 20px;
  padding: 19px 23px 11px;
  text-align: center;
  width: 160px;

  // .alt-cart__green
  &__green {
    align-items: center;
    background-color: rgba(22, 199, 132, 0.1);
    border-radius: 100px;
    color: #16c784;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    justify-content: center;
    line-height: 27px;
    margin-bottom: 1px;
  }

  // .alt-cart__range
  &__range {
    color: #a6b0c3;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 9px;
  }

  // .alt-cart__percent
  &__percent {
    color: #3861fb;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 6px;
  }

  // .alt-cart__count
  &__count {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    .bnb {
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
    }
  }
}

.pot {
  color: #222531;
  margin: 0 15px 50px;
  text-align: center;

  @media screen and(max-width: 800px) {
    margin: 0 auto 30px;
  }

  // .pot__title
  &__title {
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 11px;

    @media screen and(max-width: 800px) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 5px;
    }
  }

  // .pot__cart
  &__cart {
    align-items: center;
    background-color: #eff2f5;
    border-radius: 100px;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    position: relative;
    width: 200px;

    @media screen and(max-width: 800px) {
      height: 36px;
      width: 137px;
    }

    &.bg-orange {
      background-color: #ff5b23;
      color: #ffffff;
    }

    &.bg-white {
      background-color: #ffffff;
      border: 4px solid #eef1f4;
    }

    &.bg-lightblue {
      background-color: #f0f6ff;
    }

    &.bg-green {
      background-color: #e8f9f3;
    }
  }

  // .pot__inner
  &__inner {
  }

  .number {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    @media screen and(max-width: 800px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .arr {
    fill: #58667e;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);

    @media screen and(max-width: 800px) {
      right: 6px;
      width: 6px;
    }
  }
}

.your-stats {
  text-align: center;

  @media screen and(max-width: 800px) {
  }

  // .your-stats__title
  &__title {
    color: #222531;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 15px;

    @media screen and(max-width: 800px) {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 10px;
    }
  }
}

.select {
  background: #eff2f5;
  border-radius: 100px;
  color: #a6b0c3;
  display: inline-block;
  min-width: 260px;
  padding: 7px 20px 3px;
  text-align: center;

  @media screen and(max-width: 800px) {
    border-radius: 10px;
    min-width: 220px;
    padding: 9px 10px 10px;
  }

  // .select__title
  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  // .select__number
  &__number {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;

    @media screen and(max-width: 800px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.tooltip-trigger {
  &::before {
    background-color: #ffffff;
    border-radius: 2px;
    bottom: calc(100% + 5px);
    content: '';
    height: 14px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 0) rotate(-45deg);
    transition: opacity 0.3s;
    width: 14px;
    z-index: 4;
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}

.tooltip {
  background-color: #ffffff;
  border-radius: 10px;
  bottom: calc(100% + 10px);
  box-shadow: 0px 4px 20px rgba(88, 102, 126, 0.15);
  color: #222531;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  left: 50%;
  line-height: 21px;
  opacity: 0;
  padding: 12px 16px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transform: translate(-25%, 0);
  transition: opacity 0.3s;
  z-index: 3;

  &:hover {
    opacity: 1;
  }
}
